// Colors
$primary-color: #005b86;
$primary-color-light: #25adda;
$light-text-color: white;
$shared-grip: #b1ded5;
$not-shared-grip: #ebc3b3;
$light-grey: #ced4da;
$error-message-color: red;
$success-message-color: green;

// Fonts
$primary-font-family: 'Avenir', Helvetica, Arial, sans-serif;
$section-title-font-size: 32px;
$subtitle-font-size: 24px;
$grip-title-font-size: 16px;
$content-font-size: 13px;

// Spacing:
$main-section-max-width: 75%;

$grip-width: 300px;
$grip-height: 260px;

$button-width: 80px;

$large-margin: 40px;
$big-margin: 20px;
$small-margin: 10px;
$tiny-margin: 5px;

$section-padding: 100px;
$tiny-padding: 5px;
$small-padding: 8px;

// Others:
$primary-border-radius: 10px;
$small-border-radius: 2px;
